html,body{
    margin: 0px;
    font-size: 14px;
    font-family: 'sans-serif', Helvetica, Arial, sans-serif;
    overflow: hidden;
}
/* .creator-cv-layout {
    min-height: 100vh;
    overflow: hidden;
} */
